<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sobre este site</h1>
        <nav>
            <a href="/">Início</a>
            <a href="/about">Sobre</a>
            <a href="/contato">Contato</a>

        </nav>
    </header>


    <main>
        <h2>Inicialmente, a ideia do site é aprimorar minhas habilidades<br>
            e poder mostrar aos recrutadores o que eu sei fazer
        </h2>
    </main>
</body>
</html>
