<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <title>Portifolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Ricardo Gonçalves</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/about">Sobre</a>
            <a href="/contato">Contato</a>
        </nav>
    </header>
    <main>
        <p>Este site foi criado para aprender Flask, HTML, CSS e SQL.</p>
    </main>
</body>
</html>