<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mensagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Mensagens Recebidas</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Assunto</th>
            <th>Mensagem</th>
        </tr>
        {% for contato in contatos %}
        <tr>
            <td>{{ contato.id }}</td>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.assunto }}</td>
            <td>{{ contato.mensagem }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
