<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Mensagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Mensagens Recebidas</h1>
        <div >
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Assunto</th>
                    <th>Mensagem</th>
                    <th>Data e Hora</th>
                </tr>
                {% for contato in contatos %}
                <tr>
                    <td>{{ contato.id }}</td>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.assunto }}</td>
                    <td>{{ contato.mensagem }}</td>
                    <td>
                        {% if contato.data_hora %}
                            {{ contato.data_hora.strftime('%d/%m/%Y %H:%M:%S') }}
                        {% else %}
                            Não informado
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="no-messages">Nenhuma mensagem encontrada.</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>



